/* styles.css */

/* Import Libre Baskerville font */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

html {
    background-color: bisque;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Align children centrally horizontally */
    align-items: center; /* Align children centrally vertically */
    font-family: 'Libre Baskerville', serif;
    color: wheat;
}

#centre-block {
    text-align: center;
    background-color: rgb(1, 13, 16);
    height: 70%; /* Set a fixed height for the container */
    border: rgb(0, 221, 255) dashed;
    border-width: 0px 15px 0px 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center; /* Align items horizontally */
}

nav ul li {
    margin-right: 10px;
    margin-left: 10px;
}

nav ul li a {
    color: rgb(243, 233, 207);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #f0f0f0;
    color: rgb(1, 13, 16);
}

img {
    width: 70%;
    border: white solid 7px;
    padding: 10px;
    margin-top: 10px;
}

main {
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 10%;
    padding-bottom: 30%;
    vertical-align: baseline;
}

footer {
    color: azure;
    padding-bottom: 20px;
}
